$font-color: lch(53 105 40);
$red: rgb(182, 110, 110);
$font-size: 1rem;

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Regular.woff2') format('woff2'),
    url('./Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.hello {
  color: $font-color;
	font-size: $font-size;
	font-family: 'Montserrat', sans-serif;
}